body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;  
    background:linear-gradient(to top, rgba(0,0,0,0.4)20%,rgba(0,0,0,0.4)20%), url("/images/Desk-bg.jpg");
    background-position: center;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.sidebar {
    width: 20%;
    height: auto;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}


.logo-section {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: top;
    margin-bottom: 10%;
    /* background-color: #ddd; */

}

.logo-section img {
    width: 60%;
    height: 80%;
}

.sbbuttons {
    width: 100%;
    height: 80%;
    /* background: linear-gradient(180deg ,#ef4d7800 0%,#3d1b63 70%,#3d1b63 100%); */
    margin-top: 20%;
}

button li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


 .sbbuttons > button {
    width: 90%;
    padding: 10px;
    margin: 5% 0;
    margin-bottom: 15px;
    background: linear-gradient(135deg, #ef4d79, #3d1b63);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
 }

 .sbbuttons>button li{
    display: flex;
    width: 100%;
    height: 100%;
}

button li a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbbuttons>button:hover {
    background: linear-gradient(-135deg, #ef4d79, #3d1b63);
    letter-spacing: 2px;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
   
}
.card{
    width: 90%;
    height:98%;
    background: linear-gradient(135deg, #ef4d79, #3d1b63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #fff;
 
}
.subsec{
    width: 95%;
    height:98%;
    background-color: #ccc;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
   
}

.subsec .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #3d1b63;
    padding: 10px;
   
}





.subsec .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 45px;
    height: 3px;
    width: 100%;
    background: linear-gradient(150deg, #3d1b63, #ef4d79);
}
.form{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    
}

.form form .user-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 20px 0;
    color: #3d1b63;
    font-size: large;
}

form .user-detail .input-box  {
    width: calc(100% / 2 - 40px);
    margin-bottom: 15px;
}



.user-detail .input-box textarea {
    height: 100px; /* Set a fixed height for the textarea */
    width: 95%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #3d1b63;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 0;
    border-bottom-width: 2px;
    transition: all .3s ease;
    overflow-y: auto; /* Add vertical scroll if content exceeds the fixed height */
    resize: none; /* Disable resizing */
   
    
}

.user-detail .input-box input{

    height: 38px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #3d1b63;
    font-size: 14px;
    padding-left: 10px;
    border-bottom-width: 2px;
    transition: all .3s ease;
    /* margin-top: 5px; */
}


.user-detail .input-box textarea:focus {
    border-color: #ef4d79;
}

.user-detail .input-box textarea::placeholder {
    font-size: large;
    text-decoration: none;
    padding-top: 8px;
   
   
}



 .input-box .details {
    font-weight: 500;
    display: block;
    /* margin-bottom: 5px; */
    margin-left: 20px;
    
}

.input-box label{
    font-weight: 500;
    display: block;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    margin-left: 20px;
}
select {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 2px solid #ef4d79;
    border-radius: 5px;
    background-color: #fff;
    color: #ef4d79;
    
   

}

select option {
    padding: 8px;
    outline: none;

}

.user-detail .input-box input:focus,
.user-detail .input-box input:valid {
    border-color: #ef4d79;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 45px;
    margin-top:0px;
  
  
}

.buttons > input{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
    color: #fff;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #3d1b63, #ef4d79);
    border: 2px solid white;
    margin: 0 2%;
}


.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin:0 2%;
}

.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    margin:0 2%;
}

.close-button li{
    display: flex;
    width: 100%;
    height: 100%;
}

.close-button li a{
    width: 100%;
}
.close-button button{
       width: 100%;
       height: 100%;
       background: linear-gradient(135deg, #3d1b63, #ef4d79);
       border: 2px solid white;
       color: white;
       font-size: 18px;
       font-weight: 500;
       cursor: pointer;
       border-radius: 30px;
       letter-spacing: 1px;
}
   
   
   
.form .buttons .close-button button:hover {
    background: linear-gradient(-135deg, #3d1b63, #ef4d79);
}
   
   
   
.form .buttons input:hover {
       background: linear-gradient(-135deg, #3d1b63, #ef4d79);
}


#fileNameDisplay
{
    width:90%;
    height:40px;
    /* border:2px solid #ef4d79; */
    position: relative;
    left:0px;
    top:5px;
    font-size: 12px;
   display: flex;
   flex-direction: row-reverse;

   
}



/* For laptops*/
@media only screen and (min-width:1023px) and (max-width:3000px){
    .card
    {
        width:100%;
        height:fit-content;
        padding:10px;
        margin-left: -15%;
    }
    .subsec{
        width:100%;
        height:100%;
       
    }
    /* .buttons
    {
        margin-top:-30px;
    } */

}


/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card
    {
        width:100%;
        height:fit-content;
        padding: 10px;
        margin-left: -15%;
    }
    .subsec{
        padding: 10px;
    }
}



