body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2)20%, rgba(0, 0, 0, 0.2)20%), url("/images/Desk-bg.jpg");
    background-position: center;
    background-size: 100% 100%;
    font-family: sans-serif;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.logosection{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 18%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 90%;
    margin-left: 1%;
}
.logo>img{
    width: 80%;
    height: 90%;
}
.content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    width: 60%;
    height: 100%;    
}
.loginform{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.greeting > .faboimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.faboimg > img{
    width: 300px;
    height: 300px;
    /* margin-top: 10%; */
}
.greeting > .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    text-align: center;
    /* background-color: red; */

}

.greeting > .text >h3{
    color: white;
    width: 100%;
    height: 100%;
    font-size: 60px;
    margin-top: -60px;
}
.greeting:hover .faboimg > img {
    transform: translateX(-200px);
    transition: 0.9s ease-in-out;
}

.greeting:not(:hover) .faboimg > img {
    transform: translateX(0);
    transition: 0.9s ease-in-out;
}

.greeting:hover h3 {
    transform: translateX(100px);
    transition: 0.9s ease-in-out;
}

.greeting:not(:hover) h3 {
    transform: translateX(0);
    transition: 0.9s ease-in-out;
    
}

.form {
    width: 350px;
    height:fit-content;
    background: linear-gradient(10deg, #ef4d79, #3d1b63);
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 2px #3e3e3e;
}

.form h2 {
    /* width: 200px; */
    font-family: sans-serif;
    text-align: center;
    color: #ef4d79;
    /* font-size: 30px; */
    border-radius: 10px;
    margin: 2px 70px;
    padding: 8px;

}

.form input {
    width: 330px;
    height: 35px;
    background: transparent;
    border-bottom: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    background-color: transparent;
    border-radius: 10px;
    text-align: left;
    padding: 0 10px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 50px;
    font-family: sans-serif;
    outline: none;
}

.form input:hover {
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.form input:focus {
    border: 2px solid #fff;
    transition: 0.1s;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}
.btns-button{
    width:100%;
    height:100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
}
.btns-button .btn1{
    width:150px;
    padding:15px;
    border-radius:10px;
    background: linear-gradient(135deg, #ef4d79, #3d1b63);
    border: 2px solid #fff;
    font-size:medium;
}

.btn1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 
.btn1:hover
{
    background: linear-gradient(-135deg, #ef4d79, #3d1b63);
    color: #ef4d79;
    border: 2px solid #fff;
    transition: 0.2s ease-in;
    letter-spacing: 2px;
}
.btns-button .btn2{
    width:150px;
}
.error-message {
    color:white;
    font-size: 14px;
    margin-top: 5px;
}