
body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;  
    background:linear-gradient(to top, rgba(0,0,0,0.2)20%,rgba(0,0,0,0.2)20%), url("/images/Desk-bg.jpg");
    background-position: center;
    background-size: 100% 100%;
    box-sizing: border-box;
}

/* .sidebar {
    width: 20%;
    height: auto;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
} */


.logo-section {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: top;
    margin-bottom: 10%;
    padding: 10px;
    /* background-color: #ddd; */

}

.logo-section img {
    width: 60%;
    height: 80%;
}

.sbbuttons {
    width: 100%;
    height: 80%;
    /* background: linear-gradient(180deg ,#ef4d7800 0%,#3d1b63 70%,#3d1b63 100%); */
    margin-top: 20%;
}


 .sbbuttons > button {
    width: 90%;
    padding: 10px;
    margin: 5% 0;
    margin-bottom: 15px;
    background: linear-gradient(135deg, #ef4d79, #3d1b63);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: large;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
 }

.sbbuttons>button:hover {
    background: linear-gradient(-135deg, #ef4d79, #3d1b63);
}


.submenu {
    list-style-type: none;
    padding: 0;
    display: none;
    margin: 0;
}

.submenu li {
    padding: 8px;
    background: linear-gradient(135deg, #ef4d79, #3d1b63);
    margin-bottom: 15px;
    cursor: pointer;
    width: 60%;
    margin-left: 12%;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}



.submenu li:hover {
    background: linear-gradient(-135deg, #ef4d79, #3d1b63);
}

.submenu.show {
    display: block;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 100vh;
 
}
.tableform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:fit-content;
     height:fit-content;
    background: linear-gradient(-105deg, #3d1b63, #ef4d79);
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top:100px;
    padding: 30px;
} 
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #fff;
    white-space: nowrap;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
   
}

.title h2{
    margin: 0 2% ;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #fff;
    margin-left: -15px;
    margin-top: -30px;
}

.title h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 30px;
    height: 3px;
    width: 100%;
    background: linear-gradient(150deg, #3d1b63, #ef4d79);
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 10px;

}


.filters{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    
}



.close-button{
    display: flex;
    justify-content: right;
    margin: 0 1%;
    padding: 5px;
    align-items: center;
    width: 10%;
    height: 100%;
}

.close-button li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 10%;
    padding: 5px 10px;
    margin-top: -25px;
    margin-right: -35px;
}
.close-button li a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.close-button li:hover{
    background-color: red;
    border-radius: 5px;
    border: 2px solid white;
    background: linear-gradient(-135deg, #3d1b63, #ef4d79);
    transition: 0s ease-in-out;
}

.fil-2 label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-left: 16px;
    color: #fff;
}

.fil-2 input {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #ef4d79;
    border-radius: 30px;
}

.fil-1 label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
    color: #fff;
}

.fil-1 select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
}
.fil-1 #state{
    width: 200px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #ef4d79;
    border-radius: 30px;
    background-color: #fff;
    color: #ef4d79;
}
.fil-2 #citysearch{
    width: 200px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #ef4d79;
    border-radius: 30px;
    background-color: #fff;
    color: #ef4d79;
}

/* select {
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: 2px solid #ef4d79;
    border-radius: 30px;
    background-color: #fff;
    color: #ef4d79;
    margin:0 10px;

} */

/* select option {
    padding: 8px;
    outline: none;

} */




select::-ms-expand {
    display: none;
}


.search-container {
    position: relative;
    width: 300px;
    margin:0 10px;
   margin-bottom: -25px;
}

.search-bar {
    width: 100%;
    padding: 9px;
    border-radius: 30px;
    padding-left: 40px; /* space for the search icon */
    box-sizing: border-box;
    outline: none;
    border: 2px solid #ef4d79;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
    color: #ef4d79;
}



thead {
    background-color: #3d1b63;
    color: #fff;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #fff;
}


tbody tr {
    border-bottom: 1px solid #fff;
    background-color: #ccc;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody td {
    border-right: 1px solid #fff;
}

tbody td:last-child {
    border-right: none;
}

tbody tr:hover {
    background-color: #ddd;
    transition: 0.1s ease-in-out;
    
}

.action-icon {
    font-size: 15px;
    margin-right: 5px;
    cursor: pointer;
}

td li {
    display: inline;
}

.table-container li a{
    text-decoration: none;
}

#deleteConfirmationPopup {
    display: none;
    position: fixed;
    z-index: 5;
    top: 45%;
    left: 85%;

}

#deleteConfirmationPopup .card {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
   
}

#deleteConfirmationPopup .card .wrapper {
    border:2px solid #fff;
    background-color: #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 25px;
}

#deleteConfirmationPopup p {
    
    font-size: 15px;
    color: #ef4d79;
    text-align: center;
}

#deleteConfirmationPopup .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#deleteConfirmationPopup .button-container button {
    
   
    text-align: center;
    color: white;
    border:2px solid white;
    background:linear-gradient(-135deg, #3d1b63, #ef4d79);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
   

}

#deleteConfirmationPopup .button-container button:hover{
 background:linear-gradient( 135deg, #3d1b63, #ef4d79);

}

#deleteConfirmationPopup .title {
    text-decoration: none;

}

/* .table-container {
    max-height: 400px; /* Set the max height for the scrollable area 
    overflow-y: auto;
} */


thead {
    background-color: #3d1b63;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #fff;
}



.table-container::-webkit-scrollbar-thumb {
    background-color: #3d1b63;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #ccc;
}




/* Add these styles to your existing stylesheet or create a new one */
.action-menu {

    display: flex;
    justify-content: center;
  
    
    
}

.action-menu .fa-bars {
    cursor: pointer;
    color: #ef4d79;
   
    
}

.action-menu .dropdown-menu {
    display: none;
    position: absolute;
    background:linear-gradient( -135deg, #3d1b63, #ef4d79);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 120px;
    border: 2px solid #fff;
    color: #fff;
}

.action-menu .dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.action-menu .dropdown-menu a:hover {
    background-color: #ddd;
    border: 1px solid #fff;
    color: #ef4d79;
}

.action-menu:hover .dropdown-menu {
    display: block;
}



/* media */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .tableform{
     
        width:100%;
         height:fit-content;
         position: relative;
         left:-13%;
    }
    table{
        white-space:wrap;
    }
}

