<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/clientproductlist.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
    <title>FABO</title>
</head>
<body>
    <div class="main-page">
      


        <div class="section">
            <div class="tableform">
                <div class="title">
                    <h2>Product Request List</h2>
                    <div class="close-button">
                        <li><a href=clientshome>X</a></li>
                    </div>
                </div>
                <div class="bar">
                    <div class="bar">
                        <div class="filters">
                            
    
                           <div class="calender">
                            <label for="fromDate">From Date:</label>
                            <input type="date" id="fromDate">
                        </div>
                        <div class="calender">
                            <label for="toDate">To Date:</label>
                            <input type="date" id="toDate">
                        </div>
    
                            <div class="fil-3">
                                <label for="productdropdown">Select Product Type:</label>
                                <input type="search" list="productdropdown" placeholder="Select Request " id="invoiceSearch">
                                <datalist id="productdropdown">
                                    <option value="Chemicals">Chemicals</option>
                                    <option value="Packing Covers">Packing Covers</option>
                                    
                                    <option value="Collar Cuffs">Collar Cuffs</option>
                                    <option value="Pins">Pins</option>
                                </datalist>
                            </div>
    
                           
                            
                            <div class="fil-4">
                                <label for="statusDropdown">Select Status:</label>
                                <input type="search" list="statusDropdown" placeholder="Select Status " id="satusSearch">
                                <datalist id="statusDropdown">
                                <!-- <select id="statusDropdown" required> -->
                                    <option value="New">New</option>
                                    <option value="Closed">Closed</option>
                                    <!-- Add other status options as needed -->
                                <!-- </select> -->
                                </datalist>
                            </div>
    
    
                            <div class="search-container">
                                <div class="search-icon">
                                  <i class="fas fa-search"></i>
                                </div>
                                <input type="search" class="search-bar" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                
                                <th>Date</th>
                                 <th>Store Name</th>
                                <th>Product Request Type</th>
                                <th>Subject</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="clientsTableBody">
                          
                            <tr th:each="clientProduct : ${clientProducts}"> 
                             <td th:text="${clientProduct.Date}"></td>  
                             <td th:text="${clientProduct.storeName}"></td>   
					<td th:text = "${clientProduct.productRequestType}"></td>
					<td th:text="${clientProduct.issueSubject}"></td>
                     <td th:text="${clientProduct.status}"></td>   
                                <td>
                                    <div class="action-menu">
                                        <i class="fas fa-bars" onclick="toggleActionMenu(this)"></i>
                                        <div class="dropdown-menu">
                                            
                                            <a  th:href = "@{/viewproductclientproduct/{id}(id=${clientProduct.id})}"  style="cursor: pointer;">Add Comments</a>
                                           
                                            <a th:href = "@{/closeproduct/{id}(id=${clientProduct.id})}" >Close Product Request</a>
                                           
                                             <a th:href = "@{/clientproductDetailsproduct/{id}(id=${clientProduct.id})}">View Detailed Info</a>
                                           
                                        </div>
                                    </div>
                                </td>
                               
                                </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        
         <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    
   <script>
 			$(document).ready(function () {
 			   
 				function filterProductType() {
 				    var selectedProductType = $('#invoiceSearch').val().toLowerCase();

 				    $('#clientsTableBody tr').filter(function () {
 				        var productType = $(this).find('td:nth-child(3)').text().toLowerCase(); // Update the column index to 3
 				        $(this).toggle(productType.indexOf(selectedProductType) > -1);
 				    });
 				}

 				function filterStatus() {
 				    var selectedStatus = $('#satusSearch').val().toLowerCase();

 				    $('#clientsTableBody tr').each(function () {
 				        var status = $(this).find('td:nth-child(5)').text(); // Update the column index to 5

 				        // Show the row if the status matches the selected status
 				        $(this).toggle(status.toLowerCase().indexOf(selectedStatus) > -1);
 				    });
 				}


 			  //Trigger the filter when the product type search input changes
 			  $('#invoiceSearch').on('input', function () {
 			      filterProductType();
 			  });
 			  
 			    // Trigger the filter when the status search input changes
 			    $('#satusSearch').on('input', function () {
 			        filterStatus();
 			    });
 			});
				
</script>

 <script>
  $(document).ready(function () {
	    // Attach a keyup event to the search input
	    $('.search-bar').keyup(function () {
	        // Get the value from the search input
	        var searchTerm = $(this).val().toLowerCase();

	        // Filter the table rows based on the search term
	        $('#clientsTableBody tr').filter(function () {
	            var rowText = $(this).text().toLowerCase();
	            $(this).toggle(rowText.indexOf(searchTerm) > -1);
	        });
	    });
	});
</script>

<script>
 function filterDateRange() {
    var fromDate = new Date($('#fromDate').val());
    var toDate = new Date($('#toDate').val());

    $('#clientsTableBody tr').each(function () {
        var invoiceDate = new Date($(this).find('td:first').text()); // Update the column index to 1

        // Show the row if the invoice date is within the selected range
        $(this).toggle(invoiceDate >= fromDate && invoiceDate <= toDate);
    });
}

// Trigger the filter when the To Date input changes
$('#toDate').on('input', function () {
    filterDateRange();
});

</script>

    
</body>
</html>