<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/clientshome.css}">
</head>
<body>
    <div class="main-page">
        <!-- Side bar -->
        <div class="sidebar">
            <div class="logo-section">
                <img th:src="@{/images/fabo.logo.png}" alt="Your Logo">
            </div>
         
          <div class="sbbuttons">
                <button sec:authorize="hasRole('CLIENT_ACCOUNTS')" id="button8" onclick="toggleSubMenu('submenu8')">Client Accounts User</button>
                <ul class="submenu" id="submenu8">
                    <li><a href=viewinvoices>View Invoices</a></li>
                    
                </ul> 
             
                <button sec:authorize="hasRole('CLIENT_SUPPORT')" id="button9" onclick="toggleSubMenu('submenu9')">Client Support User</button>
                <ul class="submenu" id="submenu9">
                    <li><a href=clientsupport>Add Support Request</a></li>
                     <li><a href=viewclientsupport>View Support Requests</a></li>
                    
                </ul> 
             
                <button sec:authorize="hasRole('CLIENT_PRODUCTS')" id="button10" onclick="toggleSubMenu('submenu10')">Client Product User</button>
                <ul class="submenu" id="submenu10">
                    <li><a href=clientaddproduct>Add Product Request</a></li>
                     <li><a href=clientproductview>View Product Requests</a></li>
                    
                </ul> 
                </div>
                
         
        </div>

        <div class="section">
            <div class="dash-btns">
                     <li><a sec:authorize="hasRole('CLIENT_SUPPORT')" href=clientsupportadmindash>Client Support Dashboard</a></li>
                    <li><a sec:authorize="hasRole('CLIENT_ACCOUNTS')" href=clientaccountadmindash>Client Account Dashboard</a></li>
                    <li><a sec:authorize="hasRole('CLIENT_PRODUCTS')" href=clientproductadmindash>Client Product Dashboard</a></li>
                    <li><a href=# id="password">Reset Password</a></li>
                   <li><a href="logout" id="logout">LogOut</a></li>
                
            </div>
            <div class="greeting">
                <div class="faboimg">
                    <img  th:src="@{/images/Untitled_design__5_-removebg-preview.png}" alt="">
                </div>
                <div class="text">
                    <h3>For Fabulous Homes & Fabrics </h3>
                </div>              
            </div>
        </div>
    </div>
    <script>
        function toggleSubMenu(submenuId) {
    var submenus = document.querySelectorAll(".submenu");
    submenus.forEach(function (submenu) {
      if (submenu.id !== submenuId) {
        submenu.classList.remove("show");
      }
    });
  
    var submenu = document.getElementById(submenuId);
    submenu.classList.toggle("show");
  }

  function openPopup(popupId) {
    var popup = document.getElementById(popupId);
    if (popup) {
        popup.style.display = "block";
    }
}

function closePopup() {
    isEditing = false;
    var popups = document.querySelectorAll(".popup");
    popups.forEach(function (popup) {
      popup.style.display = "none";
    });
  }


  function validateNumericInput(input) {
    // Remove non-numeric characters from the input value
    input.value = input.value.replace(/\D/g, '');
}

    </script>

    
</body>
</html>